<launch>
    <arg name="cam0_topic" default="/camera/image_raw" />
    <arg name="calib_file" />

    <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" args="--alsologtostderr --v=40" output="screen" launch-prefix="gdb -ex run --args">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam0_topic" value="$(arg cam0_topic)" type="str" />
        
        <!-- Camera calibration file -->
        <param name="calib_file" value="$(arg calib_file)" />

        <!-- Additional parameters -->
        <param name="T_world_imuinit/qx" value="1" />
        <param name="T_world_imuinit/qy" value="0" />
        <param name="T_world_imuinit/qz" value="0" />
        <param name="T_world_imuinit/qw" value="0" />

        <!-- Dense Input -->
        <param name="publish_every_nth_dense_input" value="5" />
        <param name="publish_marker_scale" value="0.5" />
    </node>
        
</launch>
